@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
html{
    --main-color: #565656;
    --main-color-hover: #323232;
    --main-color-text: #dbdbdb;
    font-family: 'Sono', sans-serif;
}
body{
    background-color: #594f5d;
    margin: 0;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* Header */
header{
    width: 100%;
    height: 5rem;
    background-color: var(--main-color);
    color: var(--main-color-text);
    padding: 0 1em;
    z-index: 100;
    position: relative;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--main-color);
    color: var(--main-color-text);
    padding: 0 1em;
    display: flex;
    justify-content: center;
    box-shadow: 0 4rem 7rem -1rem var(--main-color-hover);
    z-index: 99;
}
nav ul{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav li{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0rem 1.5rem;
    cursor: pointer;
    margin: 0 2em;
}
nav li a{
    text-decoration: none;
    color: var(--main-color-text);
}
nav li:hover{
    background-color: var(--main-color-hover);
}
#alert-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: visibility 0.5s, opacity 0.5s;
}
#alert{
    width: 20%;
    height: 10%;
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    color: var(--main-color-text);
}
#alert-close{
    background-color: #616161;
    padding: 0.5em;
    border-radius: 2em;
    cursor: pointer;
}
.about-me-container{
    display: grid;
    justify-items: center;
    background-color: #433c46;
    margin-bottom: 5rem;
    width: 80%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px 0 var(--main-color-hover);
}
.about-me-container img{
    width:20%;
    justify-self: flex-end;

}
.project-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}
.project{
    display: block;
    background-color: #565656;
    width: 400px;
    height: 500px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
    border-radius: 0.25rem;
}
.project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.project:hover{
    background-color: var(--main-color-hover);
    transform: scale(1.025);
    box-shadow: 0 0 10px 0 var(--main-color-hover);
}
.project a {
    text-decoration: none;
    color: var(--main-color-text);
}
.project img{
    --border-width: 6px;
    
    background-color: #202020;
    width: calc(70% - var(--border-width) * 2);
    height: calc(70% - var(--border-width) * 2);
    max-width: calc(400px - var(--border-width) * 2);
    max-height: calc(500px - var(--border-width) * 2);
    border: #3e3e3e var(--border-width) solid;
}